.App {
  text-align: center;
 
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



h1 {
font-family: 'Rampart One', cursive;
color : red;
font-size : 72px;
font-weight : bold;
-webkit-text-fill-color: rgb(41, 37, 37);
}

